<!-- Top Panel -->
<div class="top-panel">
    <h1>Presentation</h1>
  </div>
  
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
  
          <!-- Reports Button -->
          <li class="nav-item">
            <button class="nav-link btn btn-link" routerLink="/page">
              <i class="fa-solid fa-person-rays fa-bounce"></i> About Me
            </button>
          </li>
  
          <!-- Settings Button -->
          <li class="nav-item">
            <button class="nav-link btn btn-link" routerLink="/help">
              <i class="fa-sharp fa-solid fa-house fa-beat"></i> Home
            </button>
          </li>
  
          <!-- Help Button -->
          <li class="nav-item">
            <button class="nav-link btn btn-link" routerLink="/tech">
              <i class="fa-solid fa-microchip fa-shake"></i> About Tech
            </button>
          </li>
  
        </ul>
      </div>
    </div>
  </nav>
  
  <!-- Help video Modal -->
  <ng-template #videoModal let-modal modal-fade autofocus="false">
    <div class="modal-header">
      <h4 class="modal-title">Help Video</h4>
    </div>
    <div class="modal-body" autofocus="false">
      <video width="100%" controls>
        <source src="/assets/Test4.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <button autofocus="false" type="button" class="modal-button" (click)="modal.close('Close click')">Close</button>
    </div>
    <div class="modal-footer"></div>
  </ng-template>
  

  <div class="canva-presentation">

  <div style="position: relative; width: 100%; height: 0; padding-top: 56.2500%;
 padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
 border-radius: 8px; will-change: transform;">
  <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
    src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFjq19U5dU&#x2F;view?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
  </iframe>
</div>
<a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFjq19U5dU&#x2F;view?utm_content=DAFjq19U5dU&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener">Design</a> by Luco Meyer

</div>
  <router-outlet></router-outlet>
  
  <!-- Bottom Panel -->
  <div class="bottom-panel">
    
  </div>
  